body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

p {
    font-size: 100px;
    text-align: center;
}